.logos {
    width: 200px;
    height: 45px;
}

.sinlinea {
    color: rgb(109, 194, 109);
    text-decoration: none;
}

.colorbaner {
    font-size: 40px;
}

.fondoimagen1 {
    padding-bottom: 50px;
    background-image: url(MULTIMEDIA/FONDO.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.top {
    background-color: lightcyan;
    padding: 4%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(33, 37, 41);
    font-weight: 700;
    font-size: 12px;
    text-align: justify;
}

.otrotop {
    margin-top: 50px;
    margin-bottom: 0px;
}

.imgcenter {
    text-align: center;
}

.justifica {
    text-align: justify;
    margin-top: 30px;
}

.nomelacreo {
    background-color: rgba(33, 37, 41, 0.7);
}

.nomelacreo1 {
    background-color: rgb(33, 37, 41);
}

.texto {
    color: lightcyan;
    text-align: center;
}

.top1 {
    padding: 2%;
    padding-top: 3%;
}

.top2 {
    padding: 5%;
}

.noda {
    width: 520px;
    height: 300px;
}

.noda1 {
    width: 100px;
    height: 100px;
}

.fuente {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.fuente1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.imgicon {
    width: 30px;
    height: 30px;
}

.imgcc {
    width: 13px;
    height: 13px;
}

.imgcc {
    width: 13px;
    height: 13px;
}

.border {
    border-radius: 2rem;
}

.colortextos {
    background-color: rgba(224, 255, 255, 0.5);
}

.logofooter {
    width: 100%;
    margin-top: 20px;
}


/* CLASES REGISTRO */

.fondoRegistro {
    padding-bottom: 50px;
    background-image: url(MULTIMEDIA/fondos9.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.colorregistro {
    background-color: rgba(33, 37, 41, 0.7);
    height: 680px;
    color: lightcyan;
    text-align: center;
}

.mid {
    position: relative;
    /* left: 400px; */
    margin-top: 5%;
    margin-bottom: 5%;
}

.mid2 {
    color: lightcyan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    /* left: 330px;
    top: 230px; */
    text-align: center;
}

.pa {
    padding-top: 25%;
}

.pa1 {
    font-size: 70px;
    color: lightcyan;
}

.colorregistro1 {
    background-color: rgba(33, 37, 41, 0.7);
    padding: 5%;
    color: lightcyan;
    text-align: left;
    margin-top: 25%;
    margin-bottom: 5%;
}

.colorregistro2 {
    background-color: rgba(33, 37, 41, 0.7);
    padding: 5%;
    color: lightcyan;
    text-align: center;
    margin-top: 25%;
    margin-left: 50px;
    margin-right: 57px;
}

.tama {
    height: 80px;
    width: 80px;
}

.contacto {
    margin-top: 20%;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 60px;
    color: lightcyan;
    text-align: center;
}

.campos {
    width: 75%;
}

.fondonosotros {
    padding-bottom: 50px;
    background-image: url(MULTIMEDIA/fondo10.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.somos {
    background-color: rgba(207, 207, 207, 0.8);
    padding: 5%;
    color: rgb(33, 37, 41);
    text-align: justify;
    margin-top: 10%;
    margin-left: 50px;
}

.trabajecon {
    background-color: rgba(33, 37, 41, 0.8);
    padding: 2%;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    color: lightcyan;
}

.perfil {
    width: 200px;
    height: 300px;
}

.newborder {
    border-radius: 50rem;
    border: rgb(33, 37, 41) 5px;
}

.me {
    padding-top: 8%;
    padding-left: 10%;
    color: rgb(33, 37, 41);
    text-align: center;
    margin-top: 10%;
    margin-left: 50px;
}

.fondoclientes {
    padding-bottom: 50px;
    background-image: url(MULTIMEDIA/fondos4.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.servicios {
    /* background-color: rgba(224, 255, 255, 0.6); */
    background-color: rgba(33, 37, 41, 0.8);
    color: lightcyan;
    padding: 5%;
    text-align: justify;
}

.pa4 {
    padding-top: 10%;
}