.img {
    width: 250px;
    height: 150px;
}

.imgicon {
    width: 30px;
    height: 30px;
}

.imgcc {
    width: 13px;
    height: 13px;
}

.colorheader {
    background-color: rgb(36, 32, 32);
}

.logo {
    width: 200px;
    height: 36px;
    padding: 30px;
    position: relative;
    left: 100px;
    top: 50px;
    display: inline-block;
}

.imglogo {
    height: 130;
    width: 350;
}

.nav {
    width: 600px;
    height: 50px;
    position: absolute;
    left: 600px;
    top: 100px;
    display: inline-block;
}

.intonav {
    padding: 5px;
    display: inline-block;
}

.colornav {
    color: seashell;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.colorfooter {
    background-color: rgb(36, 32, 32);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

.datos {
    width: 450px;
    height: 200px;
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 100px;
}

.firma {
    width: 250px;
    height: 300px;
    display: inline-block;
    position: absolute;
    left: 520px;
    top: 100px;
}

.redes {
    width: 300px;
    height: 300px;
    display: inline-block;
    position: absolute;
    left: 900px;
    top: 100px;
}

.fondoimagen {
    background-image: url(MULTIMEDIA/FONDO.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    opacity: 0, 3;
}

.fuente {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14;
    text-align: center;
    text-align: justify;
}

.section {
    width: 100%;
    height: 400px;
    background-image: url(MULTIMEDIA/office-865091_1280.jpg)
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.quienessomos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14;
    text-align: center;
    text-align: justify;
    width: 900px;
    height: 200;
    padding: 5px;
    position: absolute;
    left: 40px;
    bottom: 5px;
}

.uno {
    background-color: white;
    width: 1140px;
    height: 450px;
    padding: 3px;
    display: inline-block;
    position: relative;
    left: 50px;
    top: 120px;
}

.titulos {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.texto {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-weight: 700;
    font-size: 16px;
    text-align: justify;
}

.servicios {
    width: 400px;
    height: 60px;
    position: absolute;
    top: 780px;
    left: 520px;
    display: inline-block;
}

.uno1 {
    width: 280px;
    height: 600;
    padding: 5px;
    position: absolute;
    left: 45px;
    top: 5px;
    display: inline-block;
}

.uno2 {
    width: 280px;
    height: 600;
    padding: 5px;
    position: absolute;
    left: 415px;
    top: 5px;
    display: inline-block;
}

.uno3 {
    width: 280px;
    height: 600;
    padding: 5px;
    position: absolute;
    left: 795px;
    top: 5px;
    display: inline-block;
}

.img1 {
    width: 580px;
    height: 580px;
    display: inline-block;
}

.nose {
    width: 800px;
    height: 150px;
    position: relative;
    left: 100px;
    top: 150px;
    display: inline-block;
}

.satisfaccion {
    width: 300px;
    height: 150px;
    position: absolute;
    left: 200px;
    display: inline-block;
}

.proyectos {
    width: 300px;
    height: 150px;
    position: absolute;
    left: 500px;
    display: inline-block;
}

.prueba {
    background-image: url(MULTIMEDIA/hola.jpg);
    position: relative;
    height: 400px;
}

.cubo1 {
    width: 400px;
    height: 200px;
    position: relative;
    left: 170px;
    top: 70px;
    display: inline-block;
    font-style: italic;
    color: white;
    font-size: 30px;
    text-align: center;
}

.cubo2 {
    width: 400px;
    height: 200px;
    position: relative;
    left: 280px;
    top: 70px;
    display: inline-block;
    font-style: italic;
    color: white;
    font-size: 30px;
    text-align: center;
}

.color {
    color: rgb(60, 10, 83);
}

.ultima {
    width: 900px;
    height: 450px;
}

.yacasi {
    width: 1000px;
    height: 500px;
    position: relative;
    left: 200px;
}

.ahorasi {
    width: 800px;
    height: 130px;
    position: relative;
    left: 200px;
    text-align: center;
}

.frase {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 55px;
    text-align: center;
}

.frase1 {
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 80px;
    text-align: center;
}

.move {
    width: 800px;
    height: 300px;
    position: relative;
    top: 70px;
    left: 200px;
}


/* de aca para atras es INDEX */